:root {
  --shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1 {
  font-size: 4rem;
  margin-top: 2rem;
}
.list-element {
  cursor: pointer;
}
.dragging {
  opacity: 0.5;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}
.form-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
form {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 0;
}
form input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: start !important;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #000000 !important;
  appearance: none;
  transition: border-color 0.3s ease;
}
input:focus {
  border: 2px solid #000000;
  outline: none;
}
button {
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}
.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 360px;
}
.list-wrapper {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.list-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: rgb(225, 225, 225);
  border-radius: 8px;
  box-shadow: var(--shadow);
  white-space: nowrap;
}
.list-element span {
  font-size: 1.2rem;
}
.list-element img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
}
.link-text {
  font-size: 1rem;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}
.alert-box {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f2f0f0;
  border-radius: 8px;
  padding: 2rem 3rem;
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.delete-btn img {
  width: 1.7rem;
  height: 1.8rem;
}
.buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.secondary-button {
  background-color: transparent;
  color: #000000;
  border: none;
  box-shadow: none;
}

@media (min-width: 1025px) {
  form,
  .list-wrapper {
    grid-column-start: 5;
    grid-column-end: 8;
  }
  form {
    flex-direction: row;
  }
  form button {
    width: 30%;
  }
  .list-container {
    margin-top: 260px !important;
  }
}
@media (min-width: 769px) {
  form,
  .list-wrapper {
    grid-column-start: 4;
    grid-column-end: 10;
  }
  form input,
  button {
    height: 3.5rem;
  }
  .list-wrapper {
    margin-bottom: 2rem;
  }
  .link-text {
    font-size: 1.2rem;
  }
  .list-container {
    margin-top: 390px;
  }
}
